server:
  port: 8081

spring:
  application:
    name: user-service

  docker:
    compose:
      enabled: true
      file: C:/Users/TEGA JEREMY/Desktop/takeam-platform/docker-compose.yml
      lifecycle-management: start-and-stop

  datasource:
    url: jdbc:postgresql://localhost:5432/${POSTGRES_DB:takeam_users}
    username: ${POSTGRES_USER:takeam}
    password: ${POSTGRES_PASSWORD:takeam123}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: localhost
      port: 6379

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

# JWT Configuration (NOT under spring!)
jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000
  refresh-expiration: 604800000